<form action="{{ url_for('show_books') }}" method="GET">
    <button type="submit">Show Books</button>
</form>

<form action="{{ url_for('add_book') }}" method="GET">
    <button type="submit">Add Book</button>
</form>

<form action="{{ url_for('update_book') }}" method="GET">
    <button type="submit">Update Book</button>
</form>

<form action="{{ url_for('delete_book') }}" method="GET">
    <button type="submit">Delete Book</button>
</form>

<form action="{{ url_for('show_authors') }}" method="GET">
    <button type="submit">Show Authors</button>
</form>

<form action="{{ url_for('add_author') }}" method="GET">
    <button type="submit">Add Author</button>
</form>

<form action="{{ url_for('find_book') }}" method="GET">
    <button type="submit">Find Book</button>
</form>